.col-md-5
  .form-group
    .row
      = "Filter and export permutations or traces (Maximum of #{Search::MAX_RECORDS} records)"
      %br
      %br
    .row
      Resource to export : 
      = select_tag "resource_type_field", options_for_select([["Permutation", "permutation"],["Trace", "trace"]]), class: "form-control", name: "resource_type"
    %br
    = render partial: 'permutations/export_form'

%div{style: 'clear:both'}