%table.table.table-condensed
  %thead
    %tr
      %th Data
      %th Collection Point
      %th Created at
  %tbody
    - @permutations.each do |permutation|
      %tr
        %td= truncate_popup(permutation, 50)
        %td= permutation.additional_information.collection_point
        %td= permutation.created_at
        
= will_paginate(@permutation, renderer: WillPaginate::ActionView::LinkRenderer, params: params)
