%h3 Home

- if user_signed_in?
  .col-md-4
    = render partial: 'generate_key_form'
  .col-md-8
    = render partial: 'map'
    %div{style: 'clear:both'}

  %div{style: 'clear:both'}
-else
  = render partial: 'map'