%table.table.table-condensed
  %thead
    %tr
      %th Data
      %th Collection Point
      %th Created at
  %tbody
    - @traces.each do |trace|
      %tr
        %td= truncate_popup(trace, 50)
        %td= trace.additional_information.collection_point
        %td= trace.created_at
        
= will_paginate(@traces, renderer: WillPaginate::ActionView::LinkRenderer, params: params)
